body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 15px;
}

button {
  margin: 5px;
  padding: 6px 10px;
  border: none;
  background: #2d6cdf;
  color: white;
  border-radius: 6px;
}

.card {
  background: #1e1e1e;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

input, select {
  width: 100%;
  margin: 5px 0;
  padding: 6px;
}

.guess {
  display: flex;
  justify-content: space-between;
}
